PyQt5
numpy==2.2.6
matplotlib==3.10.7
numba==0.62.1
scipy==1.15.3
pandas==2.3.3
tables==3.10.1
pyyaml==6.0.3
scikit-learn==1.7.2
tqdm==4.67.1
streamlit==1.50.0
nd2==0.10.4
sqlalchemy==2.0.44
plotly-express==0.4.1
watchdog==6.0.0
psutil==7.1.1
playsound3==3.2.8
imageio==2.37.0
imageio-ffmpeg==0.6.0