PyQt5
numpy>=1.21.1
h5py>=2.10.0
matplotlib>=3.6.1
numba>=0.55.2
scipy==1.10.1
pandas==2.0.3
pyyaml==6.0.1
scikit-learn==1.3
tqdm==4.62.0
lmfit==1.2.2
streamlit==1.11.1
moviepy==1.0.3
nd2==0.7.2
sqlalchemy==1.4.22
plotly-express==0.4.1
watchdog==2.1.4
psutil==5.9.5
nd2reader==3.3.0