PyQt5
numpy==1.19.2
h5py==2.10.0
matplotlib==3.3.2
numba==0.51.2
scipy==1.5.3
pyyaml==5.3.1
scikit-learn==0.23.2
colorama==0.4.4
tqdm==4.50.2
lmfit==1.0.1
streamlit==0.88.0
sqlalchemy==1.4.22
plotly-express==0.4.1
watchdog==2.1.4
psutil==5.8.0
